* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; margin: 0; padding: 0; overflow: hidden; padding-bottom: env(safe-area-inset-bottom); }
body { font-family: sans-serif; }
